body {
  font-family: $georgia;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.top-convincer-wrap {
  background: $red;
}
.top-convincer {
  color: $gray-lighter;
}
.container-fluid {
  max-width: 990px;
}
@media screen and (min-width: 992px) {
  .top-convincer-wrap {
    background: url("../images/header-bgnd-repeat.jpg") repeat 0 0;
  }
  .top-convincer {
    background: url("../images/header-bgnd.jpg") no-repeat 50% 0;
  }
}
