.container-fluid {
  max-width: 990px;
}
.top-convincer-wrap {
  background: url("../images/header-bgnd-repeat.jpg") repeat 0 0;
}
.top-convincer {
  background: url("../images/header-bgnd.jpg") no-repeat 50% 0;
}