@import url(https://fonts.googleapis.com/css?family=Forum);
@font-face {
  font-family: 'tr_koala_plain';
  src: url('../fonts/tr_koala_plain-webfont.eot');
  src: url('../fonts/tr_koala_plain-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tr_koala_plain-webfont.woff2') format('woff2'),
       url('../fonts/tr_koala_plain-webfont.woff') format('woff'),
       url('../fonts/tr_koala_plain-webfont.ttf') format('truetype'),
       url('../fonts/tr_koala_plain-webfont.svg#tr_koala_plain') format('svg');
  font-weight: normal;
  font-style: normal;
}
