h1 {
  font-family: $forum;
  font-size: 53px;
  line-height: 53px;
  color: $red-lighter;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  margin: 50px 0 10px 0;
  span {
    display: block;
    font-size: 27px;
    line-height: 44px;
    color: $gray-darker;
    letter-spacing: -1px;
    margin: 10px 0 0 0;
  }
}
h2 {
  font-family: $forum;
  font-size: 40px;
  line-height: 45px;
  color: $red-darker;
  letter-spacing: -2px;
  margin: 0 0 20px 0;
}
h3 {
  font-family: $forum;
  font-size: 36px;
  line-height: 45px;
  color: $red;
  margin: 5px 0 15px;
  letter-spacing: -1px;
  span {
    color: $gray-light;
  }
}
h4 {
  font-family: $forum;
  font-size: 27px;
  line-height: 45px;
  color: $red-darker;
  letter-spacing: -2px;
  margin: 0;
  span {
    color: $red;
  }
}
h6 {
  color: $red;
  margin: 0 0 14px 0;
}
p {
  margin: 0 0 14px 0;
}
a.read-more {
  display: block;
  width: 135px;
  height: 35px;
  font-family: $georgia;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  background: $red;
  color: $gray-light;
  text-decoration: none;
  margin: 0 0 10px 0;
  &:hover,
  &:focus {
    background: $red-light;
  }
}
a.proposal {
  display: block;
  width: 170px;
  height: 35px;
  font-family: $georgia;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  background: $red;
  color: $gray-light;
  text-decoration: none;
  margin: 0 0 10px 0;
  &:hover,
  &:focus {
    background: $red-light;
  }
}
