$forum: 'Forum', cursive;
$georgia: Georgia, Times, 'Times New Roman', serif;
$koala: 'tr_koala_plain', cursive;

$gray-light: #faf3ed;
$gray-dark: #6c5f5b;
$gray-darker: #312826;

$red-lighter: #c53005;
$red-light: #bf0f0a;
$red: #a80002;
$red-dark: #220000;
$red-darker: #200000;
