@import url(https://fonts.googleapis.com/css?family=Forum);

$forum: 'Forum', cursive;
$georgia: Georgia, Times, 'Times New Roman', serif;

$gray-light: #faf3ed;
$gray-dark: #6c5f5b;
$gray-darker: #312826;

$red-lighter: #c53005;
$red-light: #bf0f0a;
$red: #a80002;
$red-dark: #200000;