.intro-carousel {
  width: 100%;
  height: auto;
  padding: 10px;
  background: url("../images/slider-bgnd.jpg") repeat 0 0;
  margin: 0 0 35px 0;
  -webkit-box-shadow: 0px 20px 16px -16px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 20px 16px -16px rgba(0,0,0,0.65);
  box-shadow: 0px 20px 16px -16px rgba(0,0,0,0.65);
  position: relative;
}
.intro-carousel-description {
  width: 34%;
  float: left;
  padding-right: 10px;
  blockquote {
    font-family: $georgia;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $gray-dark;
    padding: 0 20px;
    border: 0;
    margin: 0;
    position: relative;
    span {
      display: inline-block;
      text-indent: -9999em;
      width: 21px;
      height: 16px;
      position: absolute;
      &:first-child {
        top: 0;
        left: 0;
        background: url("../images/quote-left.png") no-repeat 0 0;
      }
      &:last-child {
        bottom: 0;
        right: 0;
        background: url("../images/quote-right.png") no-repeat 0 0;
      }
    }
  }
}
.intro-carousel-image {
  width: 66%;
  float: left;
}
@media screen and(max-width: 991px) {
  .intro-carousel {
    margin: 0 0 25px 0;
  }
  .intro-carousel-description {
    width: 40%;
    h1 {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -1px;
      span {
        font-size: 24px;
        line-height: 36px;
        margin: 0;
      }
    }
  }
  .intro-carousel-image {
    width: 60%;
  }
}

@media screen and (max-width: 860px) {
  .intro-carousel-description {
    h1 {
      font-size: 28px;
      line-height: 28px;
      letter-spacing: -1px;
      margin: 40px 0 10px 0;
      span {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .intro-carousel-description {
    width: 50%;
    padding: 0 10px 0 0;
    h1 {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0;
      margin: 0;
      span {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        margin: 0;
      }
    }
  }
  .intro-carousel-image {
    width: 50%;
  }
}

@media screen and (max-width: 660px) {
  .intro-carousel-description {
    width: 100%;
    float: none;
    padding: none;
    background: rgba($gray-light, 0.5);
    margin: 0 0 10px 0;
  }
  .intro-carousel-image {
    width: 100%;
    float: none;
  }
}
