.content-convincer {
  padding: 20px;
  background: $gray-light;
  color: $red-darker;

  h2 {
    padding: 0 0 0 30px;
  }
  .content-box {
    padding: 0 45px;
    margin: 0 -15px;
  }
  .separator {
    border-right: 1px solid #e1dad5;
  }
  
  .event-box {
    @include clearfix();
    margin: 0 -30px 40px 0;
    img {
      float: left;
    }
    h6 {
      margin: 0 0 0 122px;
    }
    p {
      margin: 0 0 0 122px;
    }
  }

  .testimonial-box {
    @include clearfix();
    margin-bottom: 15px;
    p {
      margin: 0 0 0 60px;
    }
    .testimonial-number {
      width: 40px;
      font-size: 30px;
      line-height: 40px;
      background: $red;
      color: $gray-light;
      text-align: center;
      float: left;
    }
    .testimonial-signature {
      font-family: $koala;
      font-size: 24px;
      line-height: 24px;
      color: $red-dark;
    }
  }

  .offer-box {
    padding: 10px 0 0 0;
    img {
      margin: 0 0 15px 0;
    }
    ul {
      list-style-type: none;
      padding: 0 30px 5px 0;
      margin: -10px 0 14px 0;
      li {
        position: relative;
        height: 24px;
        border-bottom: 1px dotted $red-dark; 
        span.wine-title {
          position: absolute;
          top: 5px;
          left: 0;
          padding: 0 0 0 15px;
          background: $gray-light;
          z-index: 10;
          background-image: url("../images/list-marker.gif");
          background-repeat: no-repeat;
          background-position: 0 10px;
        }
        span.wine-price {
          position: absolute;
          top: 5px;
          right: 0;
          background: $gray-light;
          z-index: 10;
        }
      }
    }
  }
  
  .cook-recipe-box {
    @include clearfix();
    padding: 10px 0 0 0;
    margin: 0 0 10px 0;
    img {
      float: left;
    }
    h6 {
      margin: 0 0 0 160px;
    }
    p {
      margin: 0 0 0 160px;
    }
  }

  table.contact-info {
    a {
      color: $red;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

}
