
.navbar {
  border: none;
  margin-bottom: 0;
}
.navbar-default {
  background-color: transparent;
  padding: 15px 0 5px;
}
.navbar-brand {
  height: auto;
  padding: 15px 15px 15px 30px;
}
.navbar-nav {
  margin-top: 60px;
}
.navbar-default .navbar-nav > li {
  margin-right: 3px;
  &:last-child {
    margin: 0;
  }
}
.navbar-default .navbar-nav > li > a {
  font-family: $forum;
  font-size: 24px;
  line-height: 45px;
  color: $gray-light;
  padding: 0 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $gray-light;
  background: rgba(0,0,0,.2);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: $gray-light;
  background: rgba(0,0,0,.2);
}
.header-icons {
    position: absolute;
    right: 40px;
    top: 30px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid $red;
    a {
      text-indent: -99999em;
      display: block;
      width: 15px;
      height: 13px;
    }
    &:first-child a {
      background: url("../images/icon-1.gif") no-repeat;
    }
    &:nth-child(2) a {
      background: url("../images/icon-2.gif") no-repeat;
    }
    &:last-child {
      border: 0;
      padding-right: 0;
      a {
        background: url("../images/icon-3.gif") no-repeat;
      }
    } 
  }
}


.navbar-toggle {
  margin-right: 0;
  margin-top: 45px;
  padding: 8px 10px;
  background: rgba(0,0,0,.25);
}

.navbar-default .navbar-toggle {
  border: 1px solid $gray-light;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background: rgba(0,0,0,.45);
}

.navbar-default .navbar-toggle .icon-bar {
  background: $gray-light;
}


@media screen and (max-width: 991px) {
  .navbar-nav {
    margin-top: 50px;
  }
  .navbar-brand {
    img {
      width: 180px;
    }
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 20px;
    line-height: 36px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .header-icons {
    right: 0;
    top: 30px;
  }
}
